%form#create-protest.row
	.row.mission
		%label.column.large-12 Mission
			%input{placeholder: 'Ex: Legalize Marijuana', name: 'mission', type: 'text' }
	.row.location
		%label.column.large-12 Location
			%input{type: 'text', name: 'location' }
	.row.tags
		%label.column.large-12 Tags
			%input{type: 'text', name: 'tags' }
