- if (followers.length) {
%label Here's who's in so far
%ul.follower-list
	- followers.each(function(follower) {
	%li.follower= follower.get('username')
	- });
	- if (total - followers.length > 0) {
	%li.remaining= "+#{total - follwers.length}"
	- }
- } else {
%label Be the first to join!
- }
