- for(var i=0; i<protests.length; i += 2) {
.row
	.protest.columns.xlarge-6.large-6.medium-6.small-6
		.protest_img
		%a{ href: "/protest/#{protests.at(i).get('_yz_rk')}" }
			= protests.at(i).get('title')
	- if (protests.at(i + 1)) {
	.protest.columns.xlarge-6.large-6.medium-6.small-6
		.protest_img
		%a{ href: "/protest/#{protests.at(i+1).get('_yz_rk')}" }
			= protests.at(i+1).get('title')
	- }
- }