- for(var i=0; i<protests.length; i += 2) {
.row
	.column.large-6
		%a{ href: "/protest/#{protests.at(i).get('_yz_rk')}" }
			= protests.at(i).get('title')
	- if (protests.at(i + 1)) {
	.column.large-6
		%a{ href: "/protest/#{protests.at(i+1).get('_yz_rk')}" }
			= protests.at(i+1).get('title')
	- }
- }