%form
	.row.username
		.large-12.column
			%label
				%input{placeholder: 'Username', type: 'text' }
	.row.password
		.large-12.column
			%label
				%input{type: 'password', placeholder: 'Password' }
