%form
	.row.username
		.large-12.column
			%label Username
				%input{placeholder: 'john.doe', type: 'text' }
	.row.password
		.large-12.column
			%label Password
				%input{type: 'password', placeholder: '**********' }
