.row#sign-up
	.column.large-2 &nbsp;

	.column.large-4.social
		.row.login
			%button.button.facebook-btn
				Sign in with Facebook
		.row.login
			%button.button.twitter-btn
				Sign in with Twitter

	%form.large-4.column
		.row.username
			.large-12.column
				%label.username Username
					%input{ name: 'username', placeholder: 'john.doe', type: 'text' }
		.row.username-confirm
			.large-12.column
				%label.confirmUsername Confirm username
					%input{ name: 'confirmUsername', type: 'text', placeholder: 'john.doe' }
		.row.password
			.large-12.column
				%label.password Password
					%input{ name: 'password', type: 'password' }
		.row.password-confirm
			.large-12.column
				%label.confirmPassword Confirm password
					%input{ name: 'confirmPassword', type: 'password' }

		.row.login
			%button.button.create-btn
				Sign Up

	.column.large-2 &nbsp;
