.copyright
	Copyright
	= ' ' + year + ' '
	StateFate
%ul.links
	%li
		%a.about{ href: '/about' } About
	%li
		%a.create-protest{ href: '/protest/create' } Create protest
	%li
		%a.terms-and-conditions{ href: '/terms' } Terms &amp; Conditions
