.objective
	.row
		.column.xlarge-6.large-6.medium-6.xlarge-centered.large-centered.medium-centered
			%h1 Create protests, meet people, and change the world
			%a.button{ href: '/protest/create' } Create a Protest
.search
	.row
		.columns.xlarge-1.large-1.medium-1.small-1
		.columns.xlarge-2.large-2.medium-3.small-3
			%h1 Ongoing Protests
		.columns.xlarge-2.large-2.medium-1.small-1
		.columns.xlarge-7.large-7.medium-6.small-6	
			%p Filter by:
			%button.button 
				KEYWORD...
			%button.button 
				%i.foundicon-globe.size-12
				%div  GLOBAL
			%button.button 
				%i.foundicon-star.size-12
				%div  LOCAL
			%button.button 
				%i.foundicon-star.size-12
				%div  POPULAR
		.columns.xlarge-1.large-1.medium-1.small-1
.protests
	.protest-navigation
	.protest-list
