.mission
	.row
		.column.large-2 &nbsp;
		.column.large-8#main
			%h1 Create protests, meet people, and change the world
			%button.button Create a Protest
		.column.large-2 &nbsp;
.protests These are protests...
