%nav.top-bar{ data-topbar: '' }
	%ul.title-area
		%li.name
			%h1
				%a.home{ href: "/" } StateFate

	%section.top-bar-section
		%ul.right
			%li.active
				%a.protest{ href: '/issue/create' } Protest
			%li
				%a.login{ href: '/user/login' } Login
			%li
				%a.sign-up{ href: '/user/sign-up' } Sign Up
