$black: #000;
$userFormOffset: 100px;
$grey: rgb(235, 235, 235);
$blue: rgb(33,121,237);
$darkBlue: rgb(13, 101, 217);
$errorRed: #f04124;
$topMargin: 10px;

@import url("//fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab");
@import url("/icons/foundation_icons_general/stylesheets/general_foundicons.css");
@import url("/icons/foundation_icons_general/fonts/general_foundicons.eot");

*,
.top-bar-section ul li > a {
	font-family: 'Roboto Slab', Arial, serif;
}

.top-bar{
	margin-top: 8px;
	.home {
		width: 171px !important;
		height: 62px;
		text-align: center;
		font-size: 22px;
		display: flex !important;
		align-items: center;
		justify-content: center;
	}
}

#header {
	z-index: 1; 
	width: 100%;
	position: relative;
	.top-bar {
		background: none;
		.title-area{
			height: 100%;
		}
		.login, 
		.title-area,
		.sign-up {
			font-weight: 400;
			background: $black;
			&:hover {
				&:not(.title-area) { 
					background-color: #333;
				}
			}
		}
	}
}

#footer {
	background: $black; 
	position: relative; 
	bottom: 0; 
	width: 100%; 
	color: white; 
	padding: 20px; 
	font-size: 11px;
	.copyright { 
		display: inline;
	}
	.links {
		float: right;
		li { 
			display: inline-block; 
			margin-right: 10px; 
			font-size: 11px;
			text-decoration: none;
		}
	}
}

.home #body {
	text-align: center;
	.objective {
		height: 500px;
		padding: 140px 0 0 0;
		background: url(/img/protest.jpg);
		h1 {
			color: white;
			font-size: 33px;
			font-family: 'Roboto Slab', Arial, serif;
		}
		.column {
			.button {
				width:200px;
			}
		}
	}
}

body.sign-up,
body.login {
	background: url(/img/protest.jpg)
}

.search{
	max-width: 70.5rem;
	.row {
		margin: 50px 0 0 0;
	}
	h1 {
		text-align: left;
		font-size: 15px;
		margin-top: 23px;
	}
	p {
		float: left;
		margin-top: 19px;
		margin-right: 15px;
		font-size: 12px;
	}
	.button{
		margin: 0.5rem 0.2rem 0.5rem 0.2rem;
		padding: 1rem 1rem 0.9rem 1rem;
		font-size: 12px;
		background: rgb(48, 48, 48);
		float: left;
		i {
			float: left;
		}
		div {
			float: left;
			font-size: 11px;
			vertical-align: middle;
		}
	}
	.row{
		max-height: 100%;
	}
	.protest-list{
		.row{
			.protest{
				min-height: 200px;
				padding-bottom: 40%;
				a{
					text-decoration: none;
				}
			}

		}
	}
}

#login {
	margin-top: $userFormOffset;
	label {
		color: #ddd;
	}
	.row { 
		background: $black;
	}
	.username {
		padding-top: 20px;
	}
	.button {
		width: 100%;
		margin-bottom: 0;
	}
	.row.forgot,
	.forgot-btn {
		background: transparent;
	}
}

#sign-up {
	form, .social {
		background: $black;
		padding: $userFormOffset auto;
	}
	.button {
		width: 100%;
		margin-bottom: 0;
	}
	form {
		padding: 20px 15px 0;
		label {
			color: white;
		}
	}

	.social {
		text-align: center;
		margin-right: 10px;
		margin-top: 170px;
		padding: 20px 10px;
		.button {
			width: 90%;
			text-align: left;
			margin: 5px 0;
			font-size: 12px;
		}
	}
}

#create-protest {
	padding-top: 100px;
}

body.protest-show {
	#body.protest {
		margin-top: $topMargin;
		.image {
			.foundicon-photo {
				font-size: 400px;
				line-height: 400px;
			}
		}
		.creator-info .headline {
			font-size: 10px;
			line-height: 13px;
			height: 45px;
		}
	}
}

#edit-user {
	margin-top: $userFormOffset;
	.map iframe {
		border: none;
		width: 100%;
		height: 300px;
	}
}

#body {
	min-height: 100%;
	position: relative;
	top: -55px;
}
body {
	textarea,
	input[type="url"],
	input[type="email"],
	input[type="text"],
	input[type="number"] {
		border: none;
		border-left: 5px solid black;
		background:$grey;
	}
	textarea {
		height: 100px;
	}
	label.error > input {
		border-color: $errorRed;
	}
	padding-top: 10px;
	height: 100%;
}

.alert-box {
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 10;
}

.headline {
	padding: 10px 40px;
	background: black;
	color: white;
	font-size: 16px;
	line-height: 25px;
}

#four-oh-four {
	text-align: center;
	* {
		color: #ddd;
	}
}

.button {
	background: $blue;
	font-family: 'Open Sans', sans-serif;
}
.button:hover {
	background-color: $darkBlue;
}

/*Global Foundation Settings Section*/

.column, .columns{
  min-height: 1px;
}

/*Foundicon Settings*/

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
