$black: #000;

body,
#foreground { min-height: 100%; position:absolute; top:0; bottom:0; left:0; right:0; }

#background { background: url(/img/protest.jpg); height: 100%; }

#header { z-index: 1; position: absolute; width: 100%; }
#header .top-bar
#header .top-bar .login,
#header .top-bar .title-area,
#header {
	.top-bar {
		background: none; margin-top: 10px;
		.login, .title-area, .sign-up { background: $black; }
	}
}

#body { overflow: hidden; min-height:100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

#footer { background: $black; position: absolute; bottom: 0; width: 100%; color: white; padding: 20px; font-size: 11px; }
#footer .copyright { display: inline; }
#footer .links { float: right; }
#footer .links li { display: inline-block; margin-right: 10px; font-size: 11px; }

.mission { text-align: center; padding-bottom: 50px; margin-top: 100px; }
.mission * { color: white; }

.protests { background: white; min-height: 100%; }

#login { margin-top: 150px; }
#login label { color: #ddd; }
#login .row { background: $black; }
#login .username { padding-top: 30px; }
#login .button { width: 100%; margin-bottom: 0; }
#login .row.forgot,
#login .forgot-btn { background: transparent; }

#four-oh-four { text-align: center; }
#four-oh-four * { color: #ddd; }
